:root {
  --clr-1: #2B39D4;
  --clr-2: #D42B8E;
  --clr-3: #D4C62B;
  --clr-4: #2BD471;
  --clr-5: #000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: basic-sans, sans-serif;
  font-weight: 300;
  background: linear-gradient(var(--clr-1), var(--clr-2));
  min-height: 100vh;
  font-size: 24px;
  margin: 0;
  color: rbga(0,0,0,0.7);
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

.btns {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 4;
}
#btn1, #btn2 {
  position: absolute;
  right: 15px;
  color: white;
  width: 50px;
  padding-top: 0.4em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  border-radius: 10px;
  box-shadow: 6px 6px 10px #000;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
}

#btn1 {
  background-color: green;
  border-color: none;
  top: 10px;
  padding-top: 0.1em;
  padding-left: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 0.2em;
}

#btn2 {
  background-color: red;
  border-color: none;
  top: 70px;
  font-size: 0.7em;
}

.intro {
  display: grid;
  grid:
    "welcome welcome" 75vh
    "ed module" 75vh / max-content max-content;
  margin-bottom: 60vh;
  grid-gap: 15px;
  font-size: 4rem;
}

.intro-1 {
  grid-area: welcome;
  align-self: center;
  position: sticky;
  top: 2em;
  margin-bottom: 1.5em;

}

.intro-1 span {
  font-weight: 700;
  text-shadow: 2px 2px 4px #FFF;
}

.intro-2 {
  grid-area: ed;
  position: sticky;
  top: 3.5em;
  align-self: center;
}

.intro-3 {
  grid-area: module;
  align-self: end;
  font-weight: 900;
  font-style: italic;
}

.definition {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid:
    "text thumbnails" 1fr / 1fr 1fr;
  grid-gap: 1em;
  margin-bottom: 60vh;
}

.definition p {
  grid-area: text;
  position: sticky;
  top: 20vh;
  align-self: start;
}

.thumbnails {
  grid-area: thumbnails;
  margin-top: 50vh;
  padding: 0.3em;
  background: var(--clr-5);
  position: relative;
}

.thumbnails::after {
  content: '';
  position: absolute;
  background: linear-gradient(var(--clr-5) calc(100% - 5em), transparent 95%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 6px 6px 15px #000;
}

.thumbnails img {
  position: relative;
  z-index: 3;
  box-shadow: 6px 6px 8px #000;
}

.examples {
  position: sticky;
  font-weight: 900;
  bottom: 40vh; /*text from bottom*/
  color: white;
  margin-top: 3em;
  text-align: center;
}

.positive {
  background: url(imgs/smiles.jpg);
  background-size: cover;
  padding: 2em;
  font-size: 2em;
  height: 200vh;
  position: relative;
}

.positive p {
  position: relative;
  z-index: 2;
  color: #FFF;
  position: sticky;
  top: 2em;
}

.positive::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(var(--clr-4) 20%, transparent, var(--clr-2) 80%);
}

.three-levels-intro p {
  text-align: center;
  margin-top: 50vh;
  margin-bottom: 20vh;
  position: sticky;
  top: 10vh;
  font-weight: 600;
}

.visceral, .behavioral, .reflective {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid:
    "text thumbnails" 1fr / 1fr 1fr;
  grid-gap: 1em;
  margin-bottom: 30vh;

}

.visceral p, .behavioral p, .reflective p {
  grid-area: text;
  position: sticky;
  top: 40vh;
  align-self: start;
  margin-top: 25vh;
}

.reflective {
  margin-bottom: 50vh;
}

.end {
  background: linear-gradient(transparent, var(--clr-3) 95%);
  font-size: 2em;
  font-weight: 900;
  padding: 25vh 0 50vh;
  text-align: center;
}
